<h1 class="text-center">Cambios en la informacion del contador: {{contador.nif}}</h1>
<div class="container p-4 mb-4">
    <div class="row">
        <div class="col-xl-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/contadores/editCaracteristicas/{{contador.num_serie}}" method="POST">
                        <div class="form-group">
                            <label for="num_serie">ref</label>
                            <input value="{{contador.num_serie}}" class="form-control" type="text" name="ref"
                                placeholder="ref" autofocus />
                        </div>
                        <div class="form-group">
                            <label for="num_serie">num_serie</label> <input value="{{contador.num_serie}}"
                                class="form-control" type="text" name="num_serie" placeholder="num_serie" />
                        </div>
                        <div class="form-group"><label for="ct">CT</label><input value="{{contador.ct}}"
                                class="form-control" type="text" name="ct" placeholder="ct" /> </div>
                        <div class="form-group"> <label for="zona">zona</label><input value="{{contador.zona}}"
                                class="form-control" type="text" name="zona" placeholder="zona" /> </div>
                        <div class="form-group"> <label for="nombre">Nombre</label><input value="{{contador.nombre}}"
                                class="form-control" type="text" name="nombre" placeholder="Nombre" /> </div>
                  
                        <div class="form-group"><label for="ubicacion">Ubicacion</label><input
                                value="{{contador.ubicacion}}" class="form-control" type="text" name="ubicacion"
                                placeholder="ubicacion" /> </div>
                                      <div class="form-group"> <label for="id_abonado">Id abonado</label><input
                                value="{{contador.id_abonado}}" class="form-control" type="number" name="id_abonado"
                                placeholder="id_abonado" /> </div>


                        <button class="btn btn-success btn-block">Guardar</button>
                    </form>
                    <form action="/contadores/plantilla/{{contador.num_serie}}" method="GET">
                        <button class="btn btn-danger btn-block">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>