<div class="container-fluid p-4 mb-3">
  <div class="my-2">
    <input class="form-control" id="myInput" type="text" placeholder="Filtrar.." autofocus>
  </div>
  {{#if contadores}}
  <div class="table-responsive py-4">
    <table id="listado" class="listado mx-auto w-100 table-hover" data-search="true">
      <tr>
      {{!--   <th></th> --}}
        <th>Num_Serie</th>
        <th>CT</th>
        <th class="d-none d-sm-table-cell">Ubicación</th>
        <th class="d-none d-sm-table-cell">Abonado</th>
        <th class="d-none d-xl-table-cell">Observaciones</th>
      </tr>
      {{#each contadores}}
      <tr class="fila" onclick="location.href='/contadores/plantilla/{{num_serie}}';">
       {{!--  <td> {{#if hasTicket}}<i class="fa fa-exclamation-triangle blink_me" aria-hidden="true"></i> {{/if}}{{#if necesita_pintado}}<i class="fa fa-thin fa-paint-roller" aria-hidden="true"></i> {{/if}}</td> --}}
        <td>{{num_serie}}</td>
        <td>{{ct}} </td>
        <td class="d-none d-sm-table-cell">{{ubicacion}}</td>
        <td class="d-none d-sm-table-cell">{{nombre}}</td>
        <td class="d-none d-xl-table-cell">{{observaciones}} </td>
      </tr>
      {{/each}}
    </table>
  </div>
  {{else}}
  <div class="col-md-4-mx-auto">
    <div class="card card-body text-center">
      <tr>No hay contadores guardados <a href="/contadores/add"> Crea uno!</a></tr>
    </div>
  </div>
  {{/if}}
  <h1>TOTAL: <span id="suma"></span> / {{suma contadores}} </h1>
</div>