<div class="container-fluid mb-5">
    {{!-- TICKETS --}}
    <div class="row my-2 mx-4">
        <div class="text-center">
            <a class="btn btn-secondary" href="/tickets/add/{{baliza.nif}}">CREAR TICKET</a>
            <a class="btn btn-secondary" href="/contador/pintura/{{baliza.nif}}">PINTADO</a>
            {{#if baliza.necesita_pintado}}
            <button onclick="document.getElementById('myModalPintado').style.display = 'block';"
                class="btn btn-danger  float-right"> <i class="fa-solid fa-paint-roller"></i> </button>
            {{/if}}
        </div>
    </div>
    {{#if tickets}}
    <div class="row mb-2 mx-4">
        <div class="col-md-6 mx-auto">
            <table class="table table-responsive-sm rounded table-danger table-sm table-striped mx-auto">
                <tr>
                    <th class="text-center">El Contador {{baliza.num_serie}} tiene los siguientes tickets activos</th>
                </tr>
                {{#each tickets}}
                <tr class="text-center">
                    <td>
                        <span> Id:{{this.ticket_id}} - '{{this.titulo}}'</span> <span class="d-none d-sm-inline">
                            asignado a {{this.assigned_to}} el dia {{formatearSp
                            this.created_at}}</span> <a href="/tickets/edit/{{this.ticket_id}}" class="text-primary"><i
                                class="fa-solid fa-pen-to-square"></i>Edit</a></th>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{/if}}

    <div class="row mx-1">
        {{!-- Fotos --}}
        {{!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="luzCard">
                <div id="luz"></div>
            </div>
            <h1 class="text-center">Fotos</h1>
            <div class="miCarrusel">
                {{#each fotos}}
                <img src="/img/imagenes/{{../baliza.nif}}/{{this}}" alt="/img/imagenes/{{../baliza.nif}}/{{this}}">
                {{/each}}
            </div>
            <form action="/contador/upload/{{baliza.nif}}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="nif" value="{{baliza.nif}}">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" name="imagen" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02">Subir imagen</label>
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class=" btn btn-primary btn-block">Subir</button>
                    </div>
                </div>
            </form>
            <a href="/contador/fotos/{{contador.num_serie}}" class="btn btn-primary btn-block"> GALERIA DE FOTOS</a>
        </div> --}}
        {{!-- CONTADOR --}}
        <div class="col-lg-10">
            <h1 class="text-center"> Caracteristicas </h1>
            <table class="table table-dark rounded table-hover">
                <tr>
                    <th>ref</th>
                    <td>{{contador.ref}} </td>
                </tr>
                <tr>
                    <th>num_serie</th>
                    <td>{{contador.num_serie}}</td>
                </tr>
                <tr>
                    <th>zona</th>
                    <td>{{contador.zona}}</td>
                </tr>
                <tr>
                    <th>CT</th>
                    <td>{{contador.ct}} </td>
                </tr>
                <tr>
                    <th>nombre</th>
                    <td>{{contador.nombre}}</td>
                </tr>

                <tr>
                    <th>ubicacion</th>
                    <td id="aparienciaID"> {{contador.ubicacion}}</td>
                </tr>
                <tr>
                    <th>Id abonado</th>
                    <td>{{contador.id_abonado}}</td>
                </tr>
            </table>
            <a class="btn btn-primary btn-xs btn-block" href="/contadores/editCaracteristicas/{{contador.num_serie}}"
                class="btn btn-primary btn-lg btn-block"> ACTUALIZAR CARACTERISTICAS</a>
        </div>
    </div>
    {{!-- Observaciones --}}
    <div class="row mx-1 mt-2">
        <div class="col-sm-12">
            <h1 class="text-center"> Observaciones </h1>
            <table class="table table-responsive-sm table-dark table-hover">
                {{#each obs}}
                <tr>
                    <td>{{this.observaciones}}</td>
                    <td> <a href="/contador/observaciones/edit/{{this.id_observacion}}" class="text-primary"><i
                                class="fa-solid fa-pen-to-square"></i>Edit</a>
                        <a type="submit" href="/contador/observaciones/delete/{{this.id_observacion}}"
                            class="text-primary"><i class="fa-solid fa-trash"></i>Del</a>
                    </td>
                </tr>
                {{/each}}
                <form action="/contador/observaciones/add" method="POST">
                    <input type="hidden" name="nif" value="{{baliza.nif}}">
                    <tr>
                        <td><input type="text" name="observaciones" style="width: 100%;" required /></td>
                        <td> <input type="submit" value="añadir" class="btn btn-primary btn-xs btn-block" /></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>

    <div class="row mx-1  mt-2">
        <h2></h2>
        <div class="col-6">
                <div><canvas id="graficaLecturas"></canvas></div>
        </div>
            <div class="col-6">
                <div><canvas id="graficaConsumos"></canvas></div>
        </div>
    </div>

    <div class="row mx-1  mt-2">
        {{#if lecturas}}
        <div class="col-sm-12">
            <h1 class="text-center"> Lecturas </h1>
            <table class="table table-responsive-sm table-dark table-hover">
                <tbody id="datos">
                <tr>
                    <th>Fecha</th>
                    <th>Lectura</th>
                    <th>Edicion</th>
                </tr>
                {{#each lecturas}}
                <tr>

                    <td id="fecha{{@index}}" class="fechas"> {{formatearSp this.fecha}}</td>
                    <td id="lectura{{@index}}" class="lecturas">{{this.lectura}}</td>
                    <td>
                        <input type="hidden" name="num_serie" value='{{contador.num_serie}}' />
                        <input type="hidden" name="fecha" value='{{fecha}}' />
                        <input type="hidden" name="lectura" value='{{lectura}}' />
                        <a href="/lectura/edit/{{this.id_lectura}}" class="text-primary"><i
                                class="fa-solid fa-pen-to-square"></i>Edit</a>
                        <a href="/lectura/delete/{{this.id_lectura}}" class="text-primary"><i
                                class="fa-solid fa-trash"></i>Del</a>
                    </td>
                </tr>
                {{/each}}
                {{/if}}

                <form action="/lectura/add" method="POST">
                    <input type="hidden" name="num_serie" value='{{contador.num_serie}}' />
                    <tr>
                        <td><input type="date" name="fecha" required /></td>
                        <td><input type="number" name="lectura" step="0.01" required /></td>
                        <td> <input type="submit" value="añadir" class="btn btn-primary btn-xs btn-block" /></td>
                    </tr>
                </form>
                </tbody>
            </table>
        </div>
    </div>



    <div class="row mx-1 mb-5">
        <div class="col-sm-12">
            <button onclick="document.getElementById('myModalBorrado').style.display = 'block';"
                class="btn btn-danger">BORRAR contador</button>

        </div>
    </div>
</div>